#dados-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

.roll-button {
    display:flex;
    justify-content: center;
    margin-top: 15rem;
    
}

.configTextD {
    display:flex;
    color: black; 
    justify-content: center;
    background-color: #efefef;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 12rem;
    font-size: 18px;
    font-weight: bolder;
    cursor:pointer;
}
    
.configTextD:hover {
    color:white;
    background-color: black;
}

.configTextD:hover {
    color:white;
    background-color: black;
}

// .activarTiradaDados {
//     display: flex;
//     justify-content: center;
// }

.botonTirarDados {
    position: absolute;
    border: 1px solid red;
    color: white;
    cursor: pointer;
    left: auto;
    font-size: 25px;
    top: 18rem;
    right: auto;
    text-align: center;
}

.Face1 {
    background-image: url(../../img/dado1.png);
    background-size: 104px;
    margin-left: -2px;
}

.Face2 {
    background-image: url(../../img/dado2.png);
    background-size: 104px;
}

.Face3 {
    background-image: url(../../img/dado3.png);
    background-size: 104px;
    background-position: center;
}

.Face4 {
    background-image: url(../../img/dado4.png);
    background-size: 101px;
    background-position: top;
    margin-left: -2px;
}

.Face5 {
    background-image: url(../../img/dado5.png);
    background-size: 104px;
    margin-left: -5px;
}

.Face6 {
    background-image: url(../../img/dado6.png);
    background-size: 100px;
    background-position: top;
}

// .buttonDice {
//   position: relative;
//   top: 80px;
//   left: 10px;
//   padding: 15px 50px;
//   color: #fff;
//   background-color: #f4d35e;
//   border: none;
//   font-size: 20px;
//   border-radius: 20px;
//   box-shadow: 1px 3px #50514f;
//   outline: none;
//   transition: 0.3s;
// }

// button:hover,
// button:active {
//   outline: none;
//   background: #50514f;
//   cursor: pointer;
//   transform: translateY(15px);
// }

.game {
    display:flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: normal;
    justify-content: space-evenly;
    position: relative;
    width: auto;
    height: 100%;
}

.containerD1 {
    position: relative;
    display: inline-block;
    top: 136px;
    display:flex;
    flex-direction: column;
    align-items: center;
    right: -6rem;

}

.containerD2 {
    position: relative;
    display: inline-block;
    top: 136px;
    display:flex;
    flex-direction: column;
    align-items: center;
    right: 6rem;
}

.dice {
    position: relative;
    width: 100px;
    height: 100px;
    transform-style: preserve-3d;
    transition: transform 1s;
}

.dot {
    position: absolute;
    width: 20px;
    height: 20px;
    margin: -10px 5px 5px -10px;
    border-radius: 20px;
    background-color: #f25f5c;
    box-shadow: inset 2px 2px #d90429;
}

.dice-one {
    position: absolute;
    
}

.dice-two {
    position: absolute;
    
}

.side {
    position: absolute;
    background-color: #fff;
    border-radius: 5px;
    width: 100px;
    height: 100px;
    border: 1px solid #e5e5e5;
    text-align: center;
    line-height: 2em;
}

.side:nth-child(1) {
    transform: translateZ(3.1em);
}

.side:nth-child(6) {
    transform: rotateY(90deg) translateZ(3.1em);
}

.side:nth-child(3) {
    transform: rotateY(-90deg) translateZ(3.1em);
}

.side:nth-child(4) {
    transform: rotateX(90deg) translateZ(3.1em);
}

.side:nth-child(5) {
    transform: rotateX(-90deg) translateZ(3.1em);
}

.side:nth-child(2) {
    transform: rotateY(-180deg) translateZ(3.1em);
}

.show-1 {
    transform: rotateX(720deg) rotateZ(-720deg);
}

.show-6 {
    transform: rotateX(-900deg) rotateZ(1080deg);
}

.show-3 {
    transform: rotateY(-450deg) rotateZ(-1440deg);
}

.show-4 {
    transform: rotateY(810deg) rotateZ(720deg);
}

.show-5 {
    transform: rotateX(-810deg) rotateZ(-1080deg);
}

.show-2 {
    transform: rotateX(450deg) rotateZ(-720deg);
}

.two-1,
.three-1,
.four-1,
.five-1,
.six-1 {
    top: 20%;
    left: 20%;
}

.four-3,
.five-3,
.six-4 {
    top: 20%;
    left: 80%;
}

.one-1,
.three-2,
.five-5 {
    top: 50%;
    left: 50%;
    }

.four-2,
.five-2,
.six-3 {
    top: 80%;
    left: 20%;
}

.two-2,
.three-3,
.four-4,
.five-4,
.six-6 {
    top: 80%;
    left: 80%;
}

.six-2 {
    top: 50%;
    left: 20%;
}

.six-5 {
    top: 50%;
    left: 80%;
}
