#content {
    display: none;
    text-align: center;
}

.centerContent {
    margin-top: 9rem;
    display:flex;
    flex-direction: column;
    align-items: center;
}

.start-buttonCFG {
    background-image: url(../img/botonStart.gif);
    width: 984px;
    height: 472px;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
}

.start-buttonCFG:hover {
    background-image: url(../img/botonStart2.png);
}

.bodyIndex img {
    z-index: -1;
    position: absolute;
    background-repeat: no-repeat;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.colorRojo {
    color:red;
}

.colorCian {
    color:aqua;
}

.colorVerde {
    color:rgb(14, 239, 14)
}

.configAtrI {
    margin-top: 2rem;
    font-size: 28px; 
    font-weight: bold;
    text-shadow: -3px 0px 2px #000000, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
    
}

hr {
    width: 100%;
}

.otrasConfigs {
    margin-top: 2rem;
    font-size: 26px;
    color: white; 
}

.titulosIndex{
    color:#be2ab6;
    //text-shadow: -3px 0px 2px #ffffff, 0px 2px 2px #ffffff, 0px -1px 2px #ffffff, 2px 0 0 #ffffff;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.fila {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin-left:2.1rem;
    margin-top: 10px;
    color:  #00ffff;
    font-weight: bold;
    // -webkit-text-stroke: 2px #00ffff;
    // -webkit-text-stroke: 4px black;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.space {
    margin-right: 10px;
    font-size: 22px;
    display:flex;
    align-items: center;
    
}

.titulos {
    display: flex;
    align-items: center;
    margin-left: 1.1rem;
    color:#7407cd;
    margin-top: 10px;
    margin-bottom: 10px;
    text-shadow: 1px 0px 2px black, 1px -1px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.textoDescriptivo {
    font-family: 'Courier New', monospace;
    white-space: pre;
    color: white;
    font-size: 22px;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.configMensajitoPj {
    font-family: sans-serif;
    color: #f7f7f7;
    margin-top: 2rem;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 2rem;
    border-radius: 10px;
    background-color: rgba(128, 128, 128, 0.801);
    font-size: 26px;
    font-weight: bold;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}