body {
    background-color: darkblue;
    background-image: url(./../img/3bcground2.png);
}

.tituloMain {
    margin-top: 2rem;
    font-family: "pamela";
    font-size: 60px;
    color: black;
    text-shadow: -3px 0px 2px rgb(255, 255, 255), 0px 2px 2px rgb(211, 113, 78), 0px -1px 2px rgb(23, 207, 244), 2px 0 0 rgb(213, 237, 33);

}

.infoPj {
    text-align: center;
    color: black;
    margin-top: 3rem;
    margin-bottom: 10px;
}

.textCfg {
    text-align: center;
    color: rgb(255, 255, 255);
    margin-bottom: 10px;
    text-shadow: -3px 0px 2px rgb(0, 0, 0), 0px 2px 2px rgb(0, 0, 0), 0px -1px 2px rgb(0, 0, 0), 2px 0 0 rgb(0, 0, 0);
    font-size: 18px;
}

.configH3 {
    font-size: 22px;
    text-align: center;
    color: black;
    margin-bottom: 10px;
    text-shadow: -3px 0px 2px #ffffff, 0px 2px 2px rgb(255, 255, 255), 0px -1px 2px rgb(255, 255, 255), 2px 0 0 rgb(255, 255, 255);
}

.info-personaje {
    margin-top: 2rem;
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
    min-width: 377px;
    height: 627px;
}

#descargarPersonaje {
    cursor: pointer;
}

#descargarPersonaje:hover {
    color:white;
    background-color: rgb(79, 79, 79);
}

#cargarPersonaje {
    cursor: pointer;
}

#cargarPersonaje:hover {
    color:white;
    background-color: rgb(79, 79, 79);
}

#borrarPersonaje {
    cursor: pointer;
}

#borrarPersonaje:hover {
    color:white;
    background-color: rgb(79, 79, 79);
}

a {
    text-decoration: none;
}

.cntBtn {
    display:flex;
    justify-content: center;
}

.botonBackIndex {
    display:flex;
    color: black; 
    justify-content: center;
    background-color: #efefef;
    border: 1px solid black;
    border-radius: 3px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 12rem;
    font-size: 18px;
    font-weight: bolder;
}

.botonBackIndex:hover {
    color:white;
    background-color: black;
}

.alinearInformacion {
    padding-top: 25rem;
}

.spaceInfoTop {
    color: white;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.colorTitulos {
    color:red;
    font-size: 20px;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

#nickPersonaje, #origen, #genero, #clase {
    color: white;
}

#inteligencia {
    color: cornflowerblue;
    font-weight: bolder;
    font-size: 22px;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

#fuerza {
    color: red;
    font-weight: bolder;
    font-size: 22px;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

#agilidad {
    color: green;
    font-weight: bolder;
    font-size: 22px;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.spaceInfoBot {
    padding-bottom: 1rem;
}

.centrarAtributos {
    display:flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.colorTituloAtr {
    margin-top: 1.2rem;
    color:aqua ;
}

.colorAtr {
    display:flex;
    flex-direction: column;
    font-size: 20px;
    color: white;
    text-shadow: -3px 0px 2px black, 0px 2px 2px black, 0px -1px 2px black, 2px 0 0 black;
}

.configCompartidaDeInfoDePersonaje {
    text-align: center;
}